@import "tailwindcss";

@theme {
  --font-yekan: "YekanBakh-Regular", sans-serif;
  --font-yekan-bold: "YekanBakh-Bold", sans-serif;
}

@layer base {
  html {
    font-family: var(--font-yekan);
  }
  h1 {
    font-family: var(--font-yekan-bold);
    color : var(--color-slate-800)
  }
}

@font-face {
  font-family: "YekanBakh-Bold";
  src: url("@/public/fonts/YekanBakh-Bold.woff2") format("woff2");
  style: bold;
}
@font-face {
  font-family: "YekanBakh-Regular";
  src: url("@/public/fonts/YekanBakh-Regular.woff2") format("woff2");
}
